header {
    background-color: blueviolet;
    padding: 10px;
}
p{
   text-align: center;
}
.navheader{
    text-decoration-line: none;
    background-color: darksalmon;
    border-radius: 5px;
    padding: 5px ;
}

footer{
    text-align: center;
    background-color:blueviolet ;
}

.resoc{
    text-align: center;
}
img.mujer{
    width: 40%;
    height: 40%;
 
}
 img.hombre{
    width: 40%;
    height: 40%;
    position: relative;
}
 
.header{
   font-weight: bold;
   font-size:xx-large;
}

#icon-whatsapp{   
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px; 
    right: 30px;
    text-align: center;
    font-size: 30px;
    z-index: 9999;
}
.logo-whatsapp{
    width: 100%;
}
.logo-whatsapp:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
.logo-whatsapp:not(hover){
    transition: 0.4s;
}
.titulo{
    text-align: center;
    text-size-adjust: 3px;
}
.gallery{
    display: flex;
    margin: auto;
}
.container_img{
    min-width: 200px;
    max-width: 500px;
    object-fit: cover;
    padding: 3px;
    flex: 1;
    
}