* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ; 
  }
h1{
    font-size: 2.5rem;
}
body {
    background-color: rgba(184, 30, 176, 0.438);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
.header{
    text-align: center;
    background-color: rgb(1, 197, 135);
}
.nav {
    background-color: #9136bb;
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 0;
    width: 100%;
    padding: 10px;
}
.nav-link{
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    transition: color 0.3s ease ;
    color: white;
}
.section-1{
    background-image: url(./img/mujer.jpg);
    background-size: cover;
    background-position-y: 30%;
    grid-area: sec-1;
    transition: transform 0.3s ease;
}
.section-1:hover{
    transform: scale(1.05);
}
.section-2{
    background-image: url(./img/hombre.png);
    background-size: cover;
    background-position-y: 8%;
    grid-area: sec-2;
    transition: transform 0.3s ease;
}
.section-2:hover{
    transform: scale(1.05);
}
.section-3{
    background-color: rgb(204, 10, 104);
    grid-area: sec-3;
    display: flex;
    align-items: center;
    padding: 30px 50px;
}
.section-3 h1{
    text-align: left;
    padding-right: 80px;
}
.section-3 p{
    text-align: right;
    padding-left: 80px;
}
footer{
    background-color: rgb(236, 135, 67);
    margin-top: auto;
}
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "sec-1 sec-2"
    "sec-3 sec-3";
    flex-grow: 1;
    height: 700px;
}

.section-1,
.section-2 {
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.footer{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "redes derec credits";
}
.redes{
    grid-area: redes;
}
.redes img{
    width: 1.2rem;
}
.redes a{
    display: flex;
    margin: 10px;
    text-decoration: none;
    color: black;
}
.redes a p{
    margin-left: 8px;
    display: flex;
    align-items: center;
}
.redes a:hover{
    transition: color 0.3s ease ;
    color: white;
}
.credits{
    grid-area: credits;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    margin-right: 10px;
}
.derechos{
    grid-area: derec;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}