* {
    padding: 0;
    text-align: center;
    margin: 5px;
    box-sizing: border-box; 

  }
h1{
    font-size: 2.5rem;
}
html,body {
    border-radius: 30px;
    background-color: rgba(184, 30, 176, 0.438);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
a{  
    position: relative;
    text-decoration: none;
    color: #fdfcfc;
    margin: 0;
    margin-left: 5px;
}
.logo-moksha:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.logo-moksha:not(hover){
    transform: scale(1);
    transition: 0.5s;
}


a:hover{
    transform: scale(1.02);
    transition: 0.5s;

}
.header{
    text-align: center;
    background-color: rgb(1, 197, 135);
    height: 150px;
}
.nav {
    background-color: #9136bb;
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 0;
    width: 100%;
    padding: 10px;
}
.section-1{
    background-color: rgb(219, 253, 125);
    height: 100%;
    width: 50%;
    margin-left: 0;
}
.section-2{
    background-color: rgba(10, 141, 228, 0.438);
    height: 100%;
    width: 50%;
    margin-right: 0;
}
.main {
    height: calc(90vh - 200px);
    display: flex;
    align-items: center; 
  }

  .section-1,
  .section-2,
  .footer {
    display: flex;
    align-items: center; 
    justify-content: center; 
  }

  footer{
    background-color: rgb(236, 135, 67);
    position: relative;
    height: 350px;
    margin: 0;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.group-1 {
    background-color: #353031;
    margin: 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.group-2 {
    background-color: #241e20;
    margin: 0;
    width: 100%;
    height: 20%;
    display: flex;
    color: #837e7e;
    justify-content: space-evenly;
    align-items: center;

}
.caja-logo{
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-moksha{
    width: 70px;
}
.texto-logo{
    font-size: 1.2em;
    color: #fdfcfc;

    
}
.caja-direccion{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.direccion-h3{
    color: #fdfcfc;

}
.guia-compra{
    color: #fdfcfc;
    
}
.caja-sugerencias{
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.caja-newsletter{
    background-color: #2b2626;
    color: #fdfcfc;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.caja-interna{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-sugerencia{
    color: #fdfcfc;
}
.mail-box{
    height: 30px;
    width: 65%;
    border-radius: 5px;
}
.btn-sub{
    border-radius: 7px;
    height: 30px;
    width: 65%;
    padding: 5px;
    background-color: rgb(233, 170, 219);
    color: #fdfcfc;
}


.direcciones{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.direcciones img{
    margin: 0;
    padding: 0;
    width: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.caja-redes{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.caja-redes img{
    width: 30px;
}

.caja-redes img:hover{
    transform: scale(1.2);
    transition: 0.4s;
    
}
.caja-redes img:not(hover){
    transform: scale(1);
    transition: 0.4s;
    
}
@media(max-width: 840px){
    .group-1{
        justify-content: space-evenly;
    }
    .caja-logo{
        width: 5%;
    }
    .caja-direccion{
        width: 10%;
    }
   .direcciones{
    font-size: 0.7em;
   }
   .caja-newsletter{
    width: 15%;
   }
   .caja-sugerencias{
    width: 10%;
   }
   h3{
    font-size: 0.9em;
   }
}