<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Montserrat:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <style>
        html,
        body {
            background-image: none !important;
            background-color: rgb(252, 252, 252);
        }

        .a-header {
            border-radius: 5px;
            background-image: linear-gradient(to bottom, rgba(250, 207, 216, 0.854), rgba(255, 230, 235, 0.905));
            color: white;
        }

        .a-header li {
            color: rgb(79, 79, 79);
        }

        #input-buscador {
            color: black;
        }

        .header {
            border-bottom: 1px solid rgb(221, 221, 221);
            /* box-shadow: -3px 4px 2px rgb(163, 163, 163); */
        }

        .nav-link:hover {
            background-color: rgb(251, 191, 221);
            color: white;
        }
    </style>
</head>

<body>
    <header class="header" style="height: 150px;">
        <a href="https://api.whatsapp.com/send?phone=3516548481" id="icon-whatsapp" target="_blank">
            <img src="img/logo-whatsapp.png" alt="" class="logo-whatsapp"></a>
        <nav class="nav">
            <!--Ruben header.-->
            <div class="logo-header">
                <a href="index.html">
                    <img src="img/Logo.png" alt="">
                </a>

            </div>
            <ul>
                <div id="buscador">
                    <li class="buscador-group">

                        <div id="app1">
                            <div class="search-input-container">
                                <input id="input-buscador" type="text" v-model="busqueda" placeholder="Buscar"
                                    class="input-with-lupa">
                            </div>
                        </div>

                        <ul id="buscador-box">
                            <div class="results">
                                <li v-for="producto in productosLimitados" :key="producto.id">
                                    <button v-on:click="mostrarProducto(producto)" id="results-box">
                                        <img :src="producto.img" alt="" id="img-buscador">
                                        <div id="contenedor-datos-result">
                                            <p>{{ producto.name }}</p>
                                            <p>{{ producto.price }}</p>
                                        </div>
                                    </button>
                                </li>
                                <div id="ver-todos">
                                    <p id="text-ver">Ver todos los productos.</p>
                                </div>
                            </div>
                        </ul>
                </div>
                </div>
                </li>
                </div>
                <a class="a-header" href="#footer" id="a-contacto">
                    <li class="nav-link">
                        Contacto
                    </li>
                </a>
            </ul>
            <ul class="ul-2">
                <a class="a-header" href="">
                    <li class="nav-link">
                        Registrarse
                    </li>
                </a>
                <a class="a-header" href="">
                    <li class="nav-link">
                        Ingresar
                    </li>
                </a>
                <a class="a-header" href="#">
                    <img src="img/img-btn2.png" id="menu-btn" alt="">
                </a>
            </ul>
        </nav>


    </header>
    <main class="main">
        <div id="app2" class="product">
            <div id="product-container">
                <div id="container-img">
                    <img :src="producto && producto.img ? producto.img : ''" alt="">
                </div>
                <div id="product-details">
                    <div id="details-header">
                        <p>{{ producto && producto.name ? producto.name : '' }}</p>
                        <p>{{ producto && producto.price ? producto.price : '' }}</p>
                    </div>

                    <div id="cST">
                        <p>Color: {{ producto && producto.color ? producto.color : '' }}</p>
                        <p>Stock: {{ producto && producto.stock ? producto.stock : '' }}</p>
                        <p>Talle: {{ producto && producto.size ? producto.size : '' }}</p>
                    </div>
                    <div id="quantity-container">
                        <p>Cantidad: </p>
                        <div class="quantity-control">
                            <button class="decrement">-</button>
                            <input type="number" min="1" max="100" class="quantity" value="1">
                            <button class="increment">+</button>
                        </div>
                    </div>

                    <div id="add-cart">
                        <p>Agregar al carrito</p>
                    </div>
                    <p>Descripción: {{ producto && producto.description ? producto.description : '' }}</p>

                </div>

            </div>
        </div>
    </main>
    <footer class="footer" id="footer">
        <div class="group-1">
            <div class="caja-logo">
                <a href="#">
                    <img src="img/Logo.png" alt="" class="logo-moksha">
                </a>
                <p class="texto-logo">Moksha Sweaters</p>
                <div class="caja-redes">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img src="img/ico-fb.png" alt="">
                    </a>
                    <a href="https://twitter.com/" target="_blank">
                        <img src="img/ico-twitter.png" alt="">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <img src="img/ico-insta.png" alt="">
                    </a>
                </div>
            </div>
            <div class="caja-direccion">
                <h3 class="direccion-h3">Direcciones</h3>
                <div class="direcciones">
                    <img src="img/ico-tel.png" alt="">
                    <a class="texto-direccion" href="#">+54 2965454813</a>
                </div>

                <div class="direcciones">
                    <img src="img/ico-gmail.png" alt="">
                    <a class="texto-direccion" href="#">E-mailEjemplo@gmail.com</a>
                </div>
                <div class="direcciones">
                    <img src="img/ico-ubi.png" alt="">
                    <a class="texto-direccion" href="#">Av. Corrientes 1234, CABA, Buenos Aires. </a>
                </div>

            </div>
            <div class="caja-sugerencias">
                <div class="caja-sug-interna">
                    <h3 class="guia-compra">Guia de compra</h3>
                    <a class="texto-sugerencia" target="_blank" href="">Cómo comprar</a>
                    <a class="texto-sugerencia" target="_blank" href="">Envío</a>
                    <a class="texto-sugerencia" target="_blank" href="">Cambios y devolución</a>
                </div>
            </div>
            <div class="caja-newsletter">
                <h3>Recibe nuestras promos</h3>
                <form action="" method="POST" autocomplete="on">
                    <input type="email" name="email" required placeholder="Tu e-mail">
                    <button type="submit" j>Suscribirse</button>
                </form>
            </div>
        </div>
        <div class="group-2">
            <p>Derechos reservados © 2023</p>
            <p>Sitio creado por: Cecilia, Juan, Ricardo y Ruben </p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.6/dist/vue.global.js"></script>
    <script src="vue/js/vueAppHome.js"></script>
    <script src="vue/js/vueAppPV.js"></script>

    <script src="script.js"></script>
</body>

</html>