<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Montserrat:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <style>
       html,body{
            background-image: none!important;
            background-color: rgb(252, 252, 252);
        }
        .a-header{
            background-color: rgb(242, 171, 226);
            
        }
        .a-header li{
            color: black;
        }
        #input-buscador{
            color: black;
        }
        .header{
            margin-bottom: 20px;
            border-bottom: 1px solid rgb(221, 221, 221);
        }
    </style>
</head>

<body>
    <header class="header" style="height: 150px;">
        <a href="https://api.whatsapp.com/send?phone=3516548481" id="icon-whatsapp" target="_blank">
            <img src="img/logo-whatsapp.png" alt="" class="logo-whatsapp"></a>
        <nav class="nav">
            <!--Ruben header.-->
            <div class="logo-header">
                <a href="index.html">
                    <img src="img/Logo.png" alt="">
                </a>

            </div>
            <ul>
                <div id="buscador">
                    <li class="buscador-group">

                        <div id="app1">
                            <input id="input-buscador" type="text" v-model="busqueda" placeholder="Buscar">
                            <ul id="buscador-box">
                                <div class="results">
                                    <li v-for="producto in productosLimitados" :key="producto.id">
                                        <button v-on:click="mostrarProducto(producto)" id="results-box">
                                            <img :src="producto.img" alt="" id="img-buscador">
                                            <div id="contenedor-datos-result">
                                                <p>{{ producto.name }}</p>
                                                <p>{{ producto.price }}</p>
                                            </div>
                                        </button>
                                    </li>
                                    <div id="ver-todos">
                                        <p id="text-ver">Ver todos los productos.</p>
                                    </div>
                                </div>
                            </ul>
                        </div>
                </div>
                </li>
                </div>
                <a class="a-header" href="#footer" id="a-contacto">
                    <li class="nav-link">
                        Contacto
                    </li>
                </a>
            </ul>
            <ul class="ul-2">
                <a class="a-header" href="">
                    <li class="nav-link">
                        Registrarse
                    </li>
                </a>
                <a class="a-header" href="">
                    <li class="nav-link">
                        Ingresar
                    </li>
                </a>
                <a class="a-header" href="#">
                    <img src="img/img-btn2.png" id="menu-btn" alt="">
                </a>
            </ul>
        </nav>


    </header>
    <main class="main">
        <div id="app2" class="product">
            <div id="product-container">
                <img :src="producto.img" alt="">
                <div id="product-details">
                    <h1>Nombre del producto: {{ producto.name }}</h1>
                    <h2>Precio: {{ producto.price}}</h2>
                    <div id="cST">
                        <p>Color: {{producto.color}}</p>
                        <p>Stock: {{producto.stock}}</p>
                        <p>Talle: {{producto.size}}</p>
                    </div>
                    <h3>Descripción:{{producto.description}}</h3>

                </div>

            </div>
        </div>
    </main>
    <footer class="footer" id="footer">
        <div class="group-1">
            <div class="caja-logo">
                <a href="#">
                    <img src="img/Logo.png" alt="" class="logo-moksha">
                </a>
                <p class="texto-logo">Moksha Sweaters</p>
                <div class="caja-redes">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img src="img/ico-fb.png" alt="">
                    </a>
                    <a href="https://twitter.com/" target="_blank">
                        <img src="img/ico-twitter.png" alt="">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <img src="img/ico-insta.png" alt="">
                    </a>
                </div>
            </div>
            <div class="caja-direccion">
                <h3 class="direccion-h3">Direcciones</h3>
                <div class="direcciones">
                    <img src="img/ico-tel.png" alt="">
                    <a class="texto-direccion" href="#">+54 2965454813</a>
                </div>

                <div class="direcciones">
                    <img src="img/ico-gmail.png" alt="">
                    <a class="texto-direccion" href="#">E-mailEjemplo@gmail.com</a>
                </div>
                <div class="direcciones">
                    <img src="img/ico-ubi.png" alt="">
                    <a class="texto-direccion" href="#">Av. Corrientes 1234, CABA, Buenos Aires. </a>
                </div>

            </div>
            <div class="caja-sugerencias">
                <div class="caja-sug-interna">
                    <h3 class="guia-compra">Guia de compra</h3>
                    <a class="texto-sugerencia" target="_blank" href="">Cómo comprar</a>
                    <a class="texto-sugerencia" target="_blank" href="">Envío</a>
                    <a class="texto-sugerencia" target="_blank" href="">Cambios y devolución</a>
                </div>
            </div>
            <div class="caja-newsletter">
                <h3>Recibe nuestras promos</h3>
                <form action="" method="POST" autocomplete="on">
                    <input type="email" name="email" required placeholder="Tu e-mail">
                    <button type="submit" j>Suscribirse</button>
                </form>
            </div>
        </div>
        <div class="group-2">
            <p>Derechos reservados © 2023</p>
            <p>Sitio creado por: Cecilia, Juan, Ricardo y Ruben </p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.6/dist/vue.global.js"></script>
    <script src="script.js"></script>

</body>

</html>