* {
    padding: 0;
    text-align: center;
    margin: 5px;
    box-sizing: border-box; 
    border-radius: 20px;
  }
h1{
    font-size: 2.5rem;
}
body {
    border-radius: 30px;
    background-color: rgba(184, 30, 176, 0.438);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    text-align: center;
    background-color: rgb(1, 197, 135);
    height: 150px;
}
.nav {
    background-color: #9136bb;
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 0;
    width: 100%;
    padding: 10px;
}
.section-1{
    background-color: rgb(219, 253, 125);
    height: 100%;
    width: 50%;
    margin-left: 0;
}
.section-2{
    background-color: rgba(10, 141, 228, 0.438);
    height: 100%;
    width: 50%;
    margin-right: 0;
}
footer{
    background-color: rgb(236, 135, 67);
    height: 100px;
    margin-top: 5px
}
.main {
    height: calc(90vh - 200px);
    display: flex;
    align-items: center; 
  }

  .section-1,
  .section-2,
  .footer {
    display: flex;
    align-items: center; 
    justify-content: center; 
  }