<!doctype html>
<html lang="en">

<head>
  <title>Administración de Productos</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="stylesheet" href="./styles.css">

</head>

<body>
  <header id="header">
    
  </header>
  <main>
    <h1>Productos</h1>
    <br> 
    <a href="./producto_nuevo.html" id="new">
        <button type="button" class="btn btn-success">Nuevo</button>
    </a>
    <br><br>
    <div id="app" class="container">
        <div v-if="error" id="error">
            <p>Lo sentimos, se produjo un error</p>
        </div>
        <div v-else>
            <section v-if="cargando" id="cargando">
                <div class="spinner-border"></div>
                <p>Cargando...</p>
            </section>
            <section v-else>
                <div class="table-responsive">
                    <table class="table table-secondary table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Color</th>
                                <th scope="col">Talle</th>     
                                <th scope="col">Precio</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Imagen</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="" v-for="producto in productos">
                                <td scope="row">{{producto.id}}</td>
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.descripcion}}</td>
                                <td>{{producto.categoria}}</td>
                                <td>{{producto.color}}</td>
                                <td>{{producto.talle}}</td>
                                <td>{{producto.precio}}</td>
                                <td>{{producto.stock}}</td>
                                <td>
                                    <img width="100" :src="producto.imagen" :alt="producto.nombre">
                                </td>
                                <td>
                                    <a class="btn btn-primary" :href="'producto_editar.html?id='+ producto.id" >Editar</a>

                                    </a>
                                    <button type="button" class="btn btn-danger" v-on:click="eliminar(producto.id)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>    
        </div>
            </section>
    </div>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
  </script>

  <script src="./js/main.js"></script>
  
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/productos.js"></script>
</body>

</html>